.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-shell {
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

main h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  margin-top: auto;
}

.impressum-btn {
  border: 0;
  background-color: #00000000;
  color: #f3f3f3;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  font-size: 20px;
}
