.app-shell {
  margin: 0 5% 5% 5% ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

main h1 {
    margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
