/* Global CSS Settings */
body {
  background-color: var(--bg-color);
  margin: 0;
}

h1 {
  color: var(--txt-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 128px;
}

h2 {
  color: var(--txt-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 96px;
}

p {
  color: var(--txt-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px; /* Müssen wir mal gucken */
}

a {
  color: var(--txt-color);
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}


/* Themes */

[data-theme="dark"] {
  --bg-color: #202020;
  --txt-color: #F3F3F3;
}

[data-theme="light"] {
  --bg-color: #F3F3F3;
  --txt-color: #202020;
}