/* Global CSS Settings */
body, html {
  background-color: var(--bg-color);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: var(--txt-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 128px;
}

h2 {
  color: var(--txt-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 96px;
}

p {
  color: var(--txt-color);
  font-family: 'Tahoma', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.6;
}

a {
  color: var(--txt-color);
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.quiz-container {
  height: 600px;
}

.submit-btn {
    background-color: var(--txt-color);
    color: var(--bg-color);
    width: 100px;
    height: 41px;
    border-radius: 20.5px;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.submit-btn:active {
  background-color: var(--btn-disabled);
}

.restart-btn,.next-btn {
    background-color: var(--txt-color);
    color: var(--bg-color);
    width: 130px;
    height: 65px;
    border-radius: 20.5px;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.restart-btn:active,.next-btn:active {
    background-color: var(--btn-disabled);
}

/* Themes */
[data-theme="dark"] {
  --bg-color: #202020;
  --txt-color: #F3F3F3;
  --btn-disabled: #6f6f6f;
  --correct: #2e9f35;
  --incorrect: #c54b4b;
  --warning: #d39a45;
}

[data-theme="light"] {
  --bg-color: #F3F3F3;
  --txt-color: #202020;
  --btn-disabled: #6f6f6f;
  --correct: #1b5e20;
  --incorrect: #b71c1c;
  --warning: #c77800;
}