.dnd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.dnd-btn-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dnd-btn-txt {
  background: transparent;
  color: var(--txt-color);
  font-family: 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  border: 0;
}

.dnd-btn {
  background: transparent;
  color: var(--txt-color);
  font-family: "Tahoma", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: var(--txt-color) solid 2px;
}

.dnd-btn:disabled {
    color: var(--btn-disabled);
    border: var(--btn-disabled) solid 3px;
}

.dnd-btn:active {
    color: var(--btn-disabled);
}
