.dnd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto 0;
    width: 80%;
}

.dnd-btn-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.dnd-txt {
  text-align: center;
  width: 100%;
}

.dnd-btn-txt {
  background: transparent;
  color: var(--txt-color);
  font-family: 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

.dnd-btn {
  background: transparent;
  color: var(--txt-color);
  font-family: "Tahoma", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: var(--txt-color) solid 2px;
}

.dnd-btn:disabled {
    color: var(--btn-disabled);
    border: var(--btn-disabled) solid 3px;
}

.dnd-btn:active {
    color: var(--btn-disabled);
}

.quiz-feedback {
  margin-left: 10%;
}

.quiz-feedback.correct {
  color: var(--correct);
}

.quiz-feedback.incorrect {
  color: var(--incorrect);
}

.quiz-feedback.warning {
  color: var(--warning);
}

@media (max-width: 620px) {
  .dnd-container {
    width: 100%;
  }
}
