.explanation-container {

  &.correct p.explanation {
    color: var(--correct);
  }

  &.incorrect p.explanation {
    color: var(--incorrect);
  }
}

.restart-btn {
  background-color: var(--txt-color);
  color: var(--bg-color);
  width: 130px;
  height: 65px;
  border-radius: 20.5px;
  border: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.restart-btn:active {
  background-color: var(--btn-disabled);
}