.explanation {
  margin-left: 10%;
}

.radio-btn-container {
  margin-left: 5%;
}

.explanation-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.correct p.explanation {
    color: var(--correct);
  }

  &.incorrect p.explanation {
    color: var(--incorrect);
  }

  .button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
