.explanation-container {
  width: 100%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.correct p.explanation {
    color: var(--correct);
  }

  &.incorrect p.explanation {
    color: var(--incorrect);
  }

  .button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .submit-container {
    margin-left: 0;
  }
}

.finished-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 620px) {
  .explanation-container {
    margin: 0;
  }
}