.navigation-element-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.checkbox {
  color: var(--txt-color) !important;
}

.checkbox.Mui-checked {
  color: var(--txt-color) !important;
}
