.image-wrapper {
  width: 80%;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  position: relative;
}

.quiz-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.hotspot {
  background: transparent;
  position: absolute;
  border-radius: 6px;
  border-width: 3px;
  transition: 0.2s;
  border-style: solid;
}

.hotspot.hidden {
  background: transparent;
  border-color: transparent;
}

.submit-container {
  margin-left: 10%;
}

.hotspot.correct {
  border-color: var(--correct);
}

.hotspot.wrong {
  border-color: var(--incorrect);
}

.explanation-box {
  padding: 5px;
  margin-left: 10%;
  gap: 5px;
}

.explanation.correct {
  color: var(--correct);
}

.explanation.incorrect {
  color: var(--incorrect);
}

@media (max-width: 620px) {
  .image-wrapper {
    width: 100%;
  }

  .explanation-box {
    margin: 0;
    width: 90%;
  }

  .submit-container {
    margin-left: 0;
  }
}
