.MuiFormControlLabel-label {
    color: var(--txt-color) !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 20px !important;
}

.MuiRadio-root .MuiSvgIcon-root { 
    color: var(--txt-color); 
}

.MuiRadio-root.Mui-checked .MuiSvgIcon-root { 
    color: var(--txt-color); 
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-btn-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 620px) {
    .radio-btn-container {
        width: 100%;
    }
}
