.quiz-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

.quiz-feedback {
  margin-left: 10%;
}

.quiz-feedback.correct {
  color: var(--correct);
}

.quiz-feedback.incorrect {
  color: var(--incorrect);
}

.quiz-feedback.warning {
  color: var(--warning);
}

.quiz-question {
  width: 90%;
  margin: 0 auto 20px;
}

@media (max-width: 620px) {
  .quiz-question {
    width: 100%;
  }
}