.quiz-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

.radio-btn-container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.quiz-feedback.correct {
  color: var(--correct);
}

.quiz-feedback.incorrect {
  color: var(--incorrect);
}

.quiz-feedback.warning {
  color: var(--warning);
}
